.filter-content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  .name-filter, .region-filter {
    padding-bottom: 1rem;
  }

  .name-filter {
    i.magnify {
      background: var(--magnifyColor) no-repeat;
      width: 10px;
      height: 10px;
      display: block;
      margin-right: .5rem;
    }

    .search-country {
      width: 100%;
      outline: none;
      background: transparent;
      border: none;
      color: var(--modeInputColor);

      &::placeholder {
        color: var(--modeInputColor)
      }
    }
  }

  .region-filter {
    width: 50%;

    .filter-by-region {
      position: relative;

      .list-title, .items {
        padding: 1rem;
        background: var(--modeElements);
        box-shadow: var(--inputBoxShadow);
        border-radius: 5px;
      }

      .list-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
        }

        i.caret {
          background: var(--caretIcon) no-repeat;
          width: 10px;
          height: 10px;
          margin-left: .5rem;
          transition: transform .3s;
          will-change: transform;
        }
      }

      .items {
        list-style: none;
        position: absolute;
        margin-top: .3rem;
        left: 0;
        right: 0;
        transition: .3s transform, .3s opacity;
        will-change: transform;

        li {
          padding-bottom: .5rem;
        }
      }
    }
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .name-filter {
      width: 40%;
    }

    .region-filter {
      width: 20%;
    }
  }
}