header {
  background: var(--modeElements);

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    h1 {
      font-size: 14px;
    }
  }
}